<!doctype html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Backpacker Rent{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <nav class="top-nav">
    <div class="logo">
      <!-- später dein SVG/PNG-Logo -->
      🏔️
    </div>
       <ul class="nav-links">
-    <li><a href="{{ url_for('lists') }}">Home</a></li>
+    <li><a href="{{ url_for('lists') }}">BackpackerRent</a></li>
     <li><a href="#">About Us</a></li>
     <li><a href="#">Sign In</a></li>
     <li class="language-select"><a href="#">Englisch ⌵</a></li>
   </ul>

  </nav>

  {% block hero %}{% endblock %}

  <section class="content">
    {% block content %}{% endblock %}
  </section>
</body>
</html>
